name = "world-sentinel"
main = "worker.js"
compatibility_date = "2025-11-08"
workers_dev = true

[vars]
API_KEY = "1234abc"

[[d1_databases]]
binding = "DB"
database_name = "ws-db"
database_id = "1d02cde3-16e3-4be8-bd6e-e56f5564a49a"
